view.component-atom-input(class="{{propClass}}")
  view.atom-input-layout()
    view.atom-input-label {{label}}
    view.atom-input-readonly(wx:if!="{{readonly}}") {{scopeValue}}
    input.atom-input__standard(
      wx:else
      class="ext-class"
      placeholder="{{placeholder}}"
      maxlength="{{maxlength}}"
      value="{{scopeValue}}"
      disabled="{{disabled}}"
      bind:input="handleInput"
      bind:change="handleChange"
      bind:blur="handleBlur"
    )
  block(wx:if="{{slot}}")
    slot
  view.atom-input-tips(wx:elif!="{{isError || !isRequired}}") {{isError ? validation.fail : (!isRequired ? validation.empty : '')}}